.CreateTodoButton{
    display: flex;
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(130deg, rgba(255, 255, 255, 0.308) 0%, rgba(248, 248, 248, 0.212));
    border: 1px solid transparent;
    box-shadow: 0px 5px 50px rgba(32, 53, 41, 0.85);
    border-radius: 50%;
    z-index: 1;
}

.CreateTodoButton:hover{
    transform: rotate(220deg);
}