.TodoCounter {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 400px;

  border: 0px solid transparent;
  border-radius: 30px;
  padding: 20px 10px;
  background: linear-gradient(
    130deg,
    rgba(5, 255, 242, 0.233),
    rgba(185, 0, 231, 0.226)
  );
  box-shadow: 0px 5px 50px rgba(32, 53, 41, 0.35);
  background-color: rgba(238, 255, 255, 0.356);
}
